{% load static %}
<aside id="leftsidebar" class="sidebar">
  
    <div class="tab-content">
       
        <div class="tab-pane stretchLeft active" id="user">
            <div class="menu">
                <ul class="list">
                    
                    <li>
                     
                        <div class="user-info">
                            {%if user.is_authenticated%}
                            {% if user.profile.avatar == '' %}
                            <div class="image"><a  class=" waves-effect "><img src="{% static 'assets/images/profile_av.jpg' %}" alt="User"></a></div>
                            {% else %}
                            <div class="image"><a  class=" waves-effect "><img src="{{ user.profile.avatar.url  }}" alt="User"></a></div>
                            {% endif %}
                            {% else %}
                            <div class="image"><a  class=" waves-effect "><img src="{% static 'assets/images/profile_av.jpg' %}" alt="User"></a></div>
                            {% endif %}
                            <div class="detail">
                                <h4>{{ user.profile  }}</h4>
                                <small>{{ user.profile  }}</small>
                            </div>
                            <a title="facebook" href="javascript:void(0);"><i class="zmdi zmdi-facebook"></i></a>
                            <a title="twitter" href="javascript:void(0);"><i class="zmdi zmdi-twitter"></i></a>
                            <a title="instagram" href="javascript:void(0);"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="active"> <a href="/admin" class="menu-toggle"><i class="zmdi zmdi-home"></i><span>Admin Panel</span></a>
                       
                    </li>
                    {% endif %}

                    <li class="active"> <a href="{% url 'home:index' %}" class="menu"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
                           
                    </li>

                    <li class="active"> <a href="{% url 'users:profile' %}" class="menu"><i class="zmdi zmdi-account "></i><span>Profile  </span></a>
                           
                    </li>


                    <li class="active"> <a href="{% url 'home:PDF_Book_list' %}" class="menu"><span class="icon-name">PDF_Book_list</span> </a>
                           
                    </li>
                    
                    <li class="active"> <a href="{% url 'home:videos_list' %}" class="menu">  <span class="icon-name">Video</span></a>

                        {% for cat in cat %}
                    <li class="active"> <a href="" class="menu">  <span class="icon-name">{{cat.category_name}}</span></a>
                        {% endfor %}
                     
                    </li>
                      
                  
                   
                </ul>
            </div>
        </div>
    </div>
</aside>
